[Unit]
Description=Mongo DB
After=multi-user.target

[Service]
Type=idle
ExecStart=/root/bin/mdb/mongod --dbpath /var/lib/mongodb --logpath /var/log/mongodb/mongod.log --port 27017

[Install]
WantedBy=multi-user.target
