---

name: Update TOC
on:
  push:
    branches: [main]
    paths: ['README.md']

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v3.6.0
      - run: |
          curl https://raw.githubusercontent.com/ekalinin/github-markdown-toc/master/gh-md-toc -o gh-md-toc
          chmod a+x gh-md-toc
          ./gh-md-toc --insert --no-backup README.md
      - uses: stefanzweifel/git-auto-commit-action@v4.16.0
        with:
          commit_message: Auto update markdown TOC
